<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: blogHead">
</head>

<body>
    
    <header th:replace="/layout :: blogHeader"></header>
    
    <div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">Dũng CT Blog - Sân chơi của mọi giới trẻ hiện nay</h2>
			    <div class="intro">Hello các bạn, mình là Dũng CT đâyyyyyyyyyyy.</div>
			    <form class="signup-form form-inline justify-content-center pt-3">
                    <div class="form-group">
                        <label class="sr-only" for="semail">Your email</label>
                        <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
		    </div><!--//container-->
	    </section>
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
			    <div class="item mb-5" th:each="b : ${blogList}">
				    <div class="media">
					    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" th:src="@{${b.getImg()}}" alt="image">
					    <div class="media-body">
						    <h3 class="title mb-1"><a th:href="@{detail(id=${b.getId()})}" th:text="${b.getTitle()}"></a></h3>
						    <div class="meta mb-1"><span class="date">Posted on</span><span class="time" th:text="${b.getPostDate()}"></span>by <span class="comment"><a href="#" th:text="${b.getAuthor()}"></a></span></div>
						    <div class="intro" th:text="${b.getIntro() + '...'}"></div>
						    <a class="more-link" th:href="@{detail(id=${b.getId()})}">Read more &rarr;</a>
						    <a class="more-link" th:href="@{remove(id=${b.getId()})}" onclick="return confirm('Bạn có chắc muốn xóa Blog này? Xóa xong không phục hồi được đâu!')">Delete &rarr;</a>
						    <a class="more-link" th:href="@{edit(id=${b.getId()})}">Edit &rarr;</a>
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div><!--//item-->
			    <div class="item mb-5">
				    <div class="media">
					    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="/resource/assets/images/blog/blog-post-thumb-2.jpg" alt="image">
					    <div class="media-body">
						    <h3 class="title mb-1"><a href="detail.html">A Guide to Becoming a Full-Stack Developer</a></h3>
						    <div class="meta mb-1"><span class="date">Published 3 months ago</span><span class="time">3 min read</span><span class="comment"><a href="#">26 comments</a></span></div>
						    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
						    <a class="more-link" href="detail.html">Read more &rarr;</a>
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div><!--//item-->
			
			    
			    <nav class="blog-nav nav nav-justified my-5">
				  <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				  <a class="nav-link-next nav-item nav-link rounded" href="#">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
				</nav>
				
		    </div>
	    </section>

		<!--------FOOTER Lấy từ đâyyyyyyyyyyy-->
	    
	    <footer th:replace="/layout :: blogFooter"></footer>
    
    </div><!--//main-wrapper-->
    
    
    
    
    <!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->

    
       
    <!-- Javascript -->          

    

</body>
</html> 

